.container {
    display: grid;
    grid-template-columns: 35% auto;
    justify-items: flex-start;
    align-items: center;
    margin-left: 45px;
}

.container img {
    border-radius: 250px;
    width: 500px;
    margin-top: 27px;    
    border: 6px solid #03040338;   
}

.info {
    color: antiquewhite;    
    width: 522px;
    filter: drop-shadow(2px 10px 1px black);   
    font-family: Georgia, 'Times New Roman', Times, serif;  
    text-align: center;  
}

.info h1 {
    font-size:xxx-large;
}